extends base

block vars
  - var title = 'Countdown Clock'

block styles
  link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Inconsolata")
  link(rel="stylesheet" type="text/css" href="styles/countdown.css")

block body

  .timer
    .timer__controls
      - var times = [20, 300, 900, 1200, 3600]
      - var status = ["20 Secs", "Work 5", "Quick 15", "Snack 20", "Lunch Break"]
      each timer, index in times
        button.timer__button(data-time="#{timer}")= status[index]

      form(name="customForm" id="custom")
        input(type="text" name="minutes" placeholder="Enter Minutes")

    .display
      h1.display__time-left
      p.display__end-time

  script(type="text/javascript").
    let countdown
    const $timerDisplay = document.querySelector('.display__time-left')
    const $endTime = document.querySelector('.display__end-time')
    const $buttons = document.querySelectorAll('[data-time]')

    function timer(seconds) {
      clearInterval(countdown)

      const now = Date.now()
      const then = now + seconds * 1000
      displayTimeLeft(seconds)
      displayEndTime(then)

      countdown = setInterval(() => {
        const secondsLeft = Math.round((then - Date.now()) / 1000)

        if (secondsLeft < 0) {
          clearInterval(countdown)
          return
        }

        displayTimeLeft(secondsLeft)
      }, 1000)
    }

    function displayTimeLeft(seconds) {
      const minutes = Math.floor(seconds / 60)
      const remainderSeconds = seconds % 60;
      const display = `${minutes}:${remainderSeconds < 10 ? '0' : ''}${remainderSeconds}`
      document.title = display
      $timerDisplay.textContent = display
    }

    function displayEndTime(timestamp) {
      const end = new Date(timestamp)
      const hour = end.getHours()
      const minutes = end.getMinutes()

      $endTime.textContent = `Be Back At ${hour > 12 ? hour - 12 : hour}:${minutes < 10 ? '0' : ''}${minutes}`
    }

    function startTimer() {
      timer(parseInt(this.dataset.time))
    }

    $buttons.forEach($button => $button.addEventListener('click', startTimer))
    document.customForm.addEventListener('submit', function(e) {
      e.preventDefault()

      const mins = this.minutes.value;
      timer((mins * 60))
      this.reset()
    })
